body {
	color: #000;
	font: 1rem/1.375 Alegreya Sans, Merriweather Sans, serif;
	min-height: 100vh;
}
header#header {
	position: fixed;
	top: 0;
	width: 100%;
	background: #fff;
	padding-top: 1rem;
	align-items: center;
	z-index: 1;
	box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.05), 0 2px 4px 0 rgba(0, 0, 0, 0.05);
	box-shadow: 0 0.125rem 0.75rem 0 rgba(0, 0, 0, 0.05);
}
footer#footer {
	background: #b71a1a;
	color: #fff;
}
footer#footer > .row {
	padding-top: 8rem;
	padding-bottom: 8rem;
}
.logo,
.product-logo,
.wordmark {
	max-height: 2rem;
}
.logo {
	margin-right: 0.25rem;
}
img {
	max-width: 100%;
}
#home .intro {
	min-height: 100vh;
	color: #fff;
	background-image: url(https://res.cloudinary.com/manfuku/image/upload/q_auto/f_auto/b_black/o_65/c_fill/g_west/w_1700/h_1100/v1552435658/insightscs/photos/home.jpg);
	background-image: url(https://res.cloudinary.com/ahensyaccv/image/upload/f_auto,q_auto/insightscs.com/nmsujhjstfrrlr2bczx2.jpg);
	align-items: center;
	background-size: cover;
	background-position: bottom left;
    padding: 8rem 0;
    @media (min-width: 900px) {
background-position: top center;
background-image: url(https://res.cloudinary.com/ahensyaccv/image/upload/f_auto,q_auto/insightscs.com/ky9dwxzwujoq8vzqst0s.jpg);

    }
}
#home .intro h1 {
	color: inherit;
}
.container,
.container-fluid {
	padding: 0 1rem;
}
.container .row,
.container-fluid .row {
	margin: 0 -1rem;
}
.container .row > *,
.container-fluid .row > * {
	padding: 0 1rem;
}
.container .row > * > :not(.container):not(.container-fluid),
.container-fluid .row > * > :not(.container):not(.container-fluid) {
	margin-bottom: 1rem;
}
.container .container,
.container .container-fluid,
.container-fluid .container,
.container-fluid .container-fluid {
	padding: 0;
}
.container-fluid.content > .row,
.container.content > .row {
	padding-top: 5rem;
	padding-bottom: 5rem;
}
.container-fluid.content > .row .container > .row,
.container.content > .row .container > .row {
	align-items: center;
}
.container-fluid.content > .row:nth-child(odd),
.container.content > .row:nth-child(odd) {
	background: #f2f2f2;
}
a {
	color: inherit;
	opacity: 0.9;
}
a:hover {
	text-decoration: none;
	color: inherit;
	opacity: 1;
}
h1,
h2 {
	font-family: Poppins, serif;
	font-weight: 700;
	font-size: 2.75rem;
	line-height: 1;
	margin-bottom: 1.5rem;
	letter-spacing: -0.1rem;
}
@media (min-width: 768px) {
	.logo,
	.product-logo,
	.wordmark {
		max-height: 2.5rem;
	}
	#home .intro h1 {
		font-size: 4rem;
	}
	h1,
	h2 {
		font-size: 3.5rem;
	}
}
h2 {
	font-size: 1.75rem;
}
h3 {
	font-size: 0.9rem;
	letter-spacing: 0.075rem;
	font-weight: 800;
	opacity: 0.5;
	text-transform: uppercase;
	margin-bottom: 0.5rem !important;
}
.dark {
	background: #262626;
	color: #fff;
}
ul.list-features li::before {
	content: "check";
	font-family: Material Icons;
	font-size: 24px;
	vertical-align: middle;
	margin-right: 0.5rem;
	color: #32cd32;
}
.lead {
	opacity: 0.75;
}
.lead:after {
	content: "";
	display: block;
	background: #bfbfbf;
	margin: 2rem auto;
	width: 8rem;
	height: 0.25rem;
}
.btn {
	font-family: Poppins, serif;
	font-weight: 700;
	border-radius: 3rem;
}
.btn.btn-primary {
	background: #cd1d1d;
	border-color: #cd1d1d;
}
.btn.btn-primary:hover {
	background: #e33a3a;
}
.btn.btn-link {
	vertical-align: middle;
	padding-left: 0;
	padding-right: 0;
	color: #cd1d1d;
}
.btn.btn-link:hover {
	color: #e33a3a;
}
.btn:hover {
	text-decoration: none;
}
.btn .material-icons {
	display: none;
}
.btn,
.material-icons {
	vertical-align: middle;
}
ul {
	list-style: none;
	padding: 0;
}
ul li {
	margin-right: 1rem;
}
app-mockup {
	z-index: 999;
	background: #cd2027;
	color: #fff;
	height: 100vh;
	overflow: hidden;
	position: absolute;
	width: 100vw;
	padding-top: 1rem;
}
app-mockup label {
	text-transform: uppercase;
	font-size: 0.9rem;
	margin-bottom: 0.25rem !important;
	opacity: 0.5;
	font-weight: 700;
}
